/* CSS Document: Universal Styling throughout Custom Pages */

@font-face {
    font-family: 'HanziPen SC';
    src: url('../fonts/hanzipen-sc/hanzipen-sc-regular.otf') format('opentype');
}

@font-face {
    font-family: 'Just Another Hand';
    src: url('../fonts/just_another_hand/JustAnotherHand-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'KaiTi';
    src: url('../fonts/kaiti-sc/KaiTi.ttf') format('truetype');
}

@font-face {
    font-family: 'Leafy';
    src: url('../fonts/leafy/leafy.otf') format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'PingFang SC';
    src: url('../fonts/pingfang_sc/PingFang\ SC.ttc') format('truetype');
}

@font-face {
	font-family: 'SF Compact Display';
	src: url('../fonts/sf_compact_display/SFCompactDisplay-Regular.otf') format('opentype');
	font-weight: normal;
}

@font-face {
    font-family: 'SimSun';
    src: url('../fonts/simsun/SimSun.ttf') format('truetype');
}

@font-face {
    font-family: "STFangsong";
    src: url('../fonts/stfangsong/chinese.stfangso.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    margin: auto;
    font-family: "SF Compact Display", Arial, sans-serif;
}

h1 {
    font-family: "Leafy", "Just Another Hand", "SF Compact Display", Arial, sans-serif;
    font-size: 72px;
}

h2 {
    font-family: "Leafy", "SF Compact Display", Arial, sans-serif;
    font-size: 42px;
}

h3 {
    font-family: "Leafy", "SF Compact Display", Arial, sans-serif;
    font-size: 36px;
}

h4 {
    font-family: "Leafy", "SF Compact Display", Arial, sans-serif;
    font-size: 30px;
}

.fa-sm, .fa-md {
	color: rgba(170, 170, 170, 1);
}

.fa-sm:hover, .fa-md:hover {
    color: rgba(80, 80, 80, 1);
    filter: brightness(70%);
    -webkit-filter: brightness(70%);
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	-ms-transition: all .2s ease;
	transition: all .2s ease;
}

#nav-logo {
    height: 50px;
}

.div-panel {
	display: inline;
    padding-top: 50px;
    padding-bottom: 50px;
}

.div-panel-top {
    display: inline;
    padding-top: 75px;
    padding-bottom: 50px;
}

.badge {
	background-color: rgba(60, 60, 60, .75);
	color: white;
}

.chinese-text {
    font-family: "HanziPen SC", "KaiTi", "STFangsong", "PingFang SC", "SimSun", sans-serif;
    /* font-family: "HanziPen SC", "KaiTi", sans-serif; */
    /* font-family: "HanziPen SC", "sans-serif"; */
}

h2.chinese-text, h2 .chinese-text {
    font-size: 36px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(150, 150, 150, .75);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: rgb(255, 152, 0);
}

input:focus + .slider {
    box-shadow: 0 0 1px #ff9800;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

div#dt {
    display: flex;
    text-align: right;
    float: right;
    width: 125px;
}

div#dt .fa-sun {
    margin-right: 10px;
    margin-top: 10px;
}

div#dt .fa-moon {
    margin-left: 10px;
    margin-top: 10px;
}

/* DARK MODE ONLY */

body.dark, body.dark a, body.dark pre, body.dark .card {
    background-color: rgb(30, 30, 30);
    color: white;
}

body.dark .card {
    border-color: white;
}

body.dark .card .card-img, hr {
    background-color: white;
}

body.dark .badge {
    background-color: rgba(150, 150, 150, .75);
}