@font-face {
    font-family: 'BrianneTod';
    src: url('../fonts/briannetod/BrianneTod.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'HanziPen SC';
    src: url('../fonts/hanzipen-sc/hanzipen-sc-regular.otf') format('opentype');
}

@font-face {
    font-family: 'Just Another Hand';
    src: url('../fonts/just_another_hand/JustAnotherHand-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'KaiTi';
    src: url('../fonts/kaiti-sc/KaiTi.ttf') format('truetype');
}

@font-face {
    font-family: 'Leafy';
    src: url('../fonts/leafy/leafy.otf') format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'PingFang SC';
    src: url('../fonts/pingfang_sc/PingFang\ SC.ttc') format('truetype');
}

@font-face {
	font-family: 'SF Compact Display';
	src: url('../fonts/sf_compact_display/SFCompactDisplay-Regular.otf') format('opentype');
	font-weight: normal;
}

@font-face {
    font-family: 'SimSun';
    src: url('../fonts/simsun/SimSun.ttf') format('truetype');
}

@font-face {
    font-family: "STFangsong";
    src: url('../fonts/stfangsong/chinese.stfangso.ttf') format('truetype');
}

@font-face {
	font-family: 'Whatever It Takes';
	src: url('../fonts/whatever_it_takes/whatever_it_takes.ttf') format('opentype');
	font-weight: normal;
}

$orange: #ff9800;
$backgroundColor: rgb(30, 30, 30);
$textColor: white;
$textBlack: black;
$titleSize: 72px;
$subtitleSize: 36px;
$defaultFont: "SF Compact Display", Arial, sans-serif;
$footerTextSize: 16px;

@mixin transition($t) {
    -webkit-transition: $t;
	-moz-transition: $t;
	-o-transition: $t;
	-ms-transition: $t;
	transition: $t;
}

