@import "_variables.scss";

$specialFont: "Whatever It Takes";

* {
    margin: 0;
    padding: 0;
}

body {
    overflow: auto;
    width: 100vw;
    margin: auto;
    font-family: $defaultFont;
    background-color: $backgroundColor;
    color: $textColor;
}

h1 {
    font-family: $specialFont, "Just Another Hand", $defaultFont;
    font-size: $titleSize;
}

h2 {
    font-family: $specialFont, $defaultFont;
    font-size: 42px;
}

h3 {
    font-family: $specialFont, $defaultFont;
    font-size: $subtitleSize;
}

h4 {
    font-family: $specialFont, $defaultFont;
    font-size: 30px;
}

hr {
    background-color: $textColor;
}

pre {
    color: $textColor;
}

.fas, .fab {
	color: rgba(170, 170, 170, 1);
}

$brightness1: brightness(70%);
$transition1: all .2s ease;
$transition2: .2s ease-out;

.fas:hover, .fab:hover {
    color: $orange;
    filter: $brightness1;
    -webkit-filter: $brightness1;
	@include transition($transition1);
}

#nav-logo {
    height: 50px;
}

.section {
    margin: 0 auto;
}
.first-section-0 {
    @extend .section;
    margin-top: 100px;
}
.first-section {
    @extend .first-section-0;
    min-height: 100vh;
}

.section-title {
    text-align: center;
    margin-bottom: 50px;
}

.card {
    background-color: $backgroundColor;
    border: 1px solid white;
    padding: 10px;
    margin: 10px;
}

.chinese-text {
    font-family: "HanziPen SC", "KaiTi", "STFangsong", "PingFang SC", "SimSun", sans-serif;
    /* font-family: "HanziPen SC", "KaiTi", sans-serif; */
    /* font-family: "HanziPen SC", "sans-serif"; */
}

h2.chinese-text, h2 .chinese-text {
    font-size: $subtitleSize;
}

.mini-divide {
    padding: 10px;
    max-width: 500px;
    margin: auto;
    hr {
        border-width: .5px;
    }
}

.section-subtitle {
    padding-bottom: 1em; 
    // text-decoration: underline;
    text-align: center;

    i {
        // margin-top: 5px;
        margin-bottom: 10px;
    }
}

.mb-0 {
    font-family: $defaultFont;
    text-align: center;

    > button.btn.btn-link {
        color: $textColor;
    }
}

.badge {
	background-color: rgba(60, 60, 60, .95);
    color: $textColor;
}

/* LIGHT MODE TOGGLE SWITCH */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;

    input { 
        opacity: 0;
        width: 0;
        height: 0;
    }
}

$transition2: .4s;
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(150, 150, 150, .75);
    -webkit-transition: $transition2;
    transition: $transition2;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: $transition2;
    transition: $transition2;
}

input:checked + .slider {
    background-color: $orange;
}

input:focus + .slider {
    box-shadow: 0 0 1px $orange;
}

$translateX1: translateX(26px);
input:checked + .slider:before {
    -webkit-transform: $translateX1;
    -ms-transform: $translateX1;
    transform: $translateX1;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

div#dt {
    display: flex;
    text-align: right;
    float: right;
    width: 125px;
    
    .fa-sun {
        margin-right: 10px;
        margin-top: 10px;
    }
    
    .fa-moon {
        margin-left: 10px;
        margin-top: 10px;
    }

    .fas, .fas:hover, .fab, .fab:hover {
        color: $textColor;
    }
}

/* LIGHT MODE ONLY */

body.light, body.light a, body.light pre, body.light .card {
    background-color: white;
    color: $textBlack;
}

@media only screen and (min-width: 1200px) {
    .mobile-only {
        display: none;
    }
}