@import "_variables.scss";

nav a {
	color: white;
	text-decoration: none;
	/* background: white; */
	text-align: center;
}

$transition1: all .2s ease;
nav a:hover {
	/* color: rgb(169, 169, 169); */
	text-decoration: underline;
	@include transition($transition1);
}

// .navbar {

// 	// background: rgba(255,255,255,0.5);
// 	background: url('../images/black_camo.jpeg;') repeat top left;
// 	// background-repeat: repeat-x;/* Determine what direction the image will repeat */
// 	// background-position: ; /* Where the image will be positioned relative to "top, right, bottom, and/or left */
// 	// background-attachment: ; /* use with "fixed" to make it scroll with page */
// }

.navbar.bg-custom {
	background-image: url('../images/black_camo.jpeg');
}

// .bg-custom {
// 	background-color: #678;
// }

$transition2: all .3s ease 0s;
.navbar {
	@include transition($transition1);
}

.dropdown:hover > .dropdown-menu {
	display: block;
}
  
.dropdown > .dropdown-toggle:active {
	pointer-events: none;
}

.dropdown-menu > .dropdown-item:active, .dropdown-menu > .dropdown-item.active {
	background-color: $orange;
}
.dropdown-menu > .dropdown-item:not(.active), .dropdown-menu > .dropdown-item:not(.active) {
	background-color: transparent;
}
.dropdown-menu > .dropdown-item:not(.active):hover, .dropdown-menu > .dropdown-item:not(.active):hover {
	background-color: rgba(200, 200, 200, 0.5);
}

a.navbar-brand, .nav-link/*, body.dark .dropdown-menu a */ {
	background: none;
}

.dropdown-menu a {
	color: black;
	/* background: transparent; */
}

@media only screen and (max-width: 991px) {
	a.dropdown-item {
		text-align: center;
	}
}

@media only screen and (max-width: 767px) {
	.navbar {
		background-color: #343a40!important;
	}
}