/* CSS Document: Footer (Transparent Background) */

/* footer */
footer {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 30px;
/*	background-color: rgba(0, 0, 0, 0.6);*/
	color: black;
	font-size: 16px;
    font-family: "SF Compact Display", Arial, sans-serif;
}

footer p {
	font-size: 16px;
}

footer .fa-lg {
	color: black;
	line-height: 10px;
}

footer .fa-lg:hover {
	-webkit-filter: brightness(70%);
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	-ms-transition: all .2s ease;
	transition: all .2s ease;
}

footer i {
	margin: 10px 10px;
}