/* CSS Document: Footer */

@font-face {
	font-family: 'SF Compact Display';
	src: url('../fonts/sf_compact_display/SFCompactDisplay-Regular.otf') format('opentype');
	font-weight: normal;
}

/* footer */
footer {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 30px;
	background-color: rgba(244, 244, 244, 0.6);
	color: black;
	font-size: 16px;
	font-family: "SF Compact Display", Arial, sans-serif;
}

footer p {
	font-size: 16px;
}

footer .fa-lg {
	line-height: 10px;
	color: rgba(140, 140, 140, 1);
}

footer .fa-lg:hover {
	-webkit-filter: brightness(70%);
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	-ms-transition: all .2s ease;
	transition: all .2s ease;
	color: rgb(255, 102, 0);
}

footer i {
	margin: 10px 10px;
}